h2 {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    display: inline;
    padding: 0;
    margin: 0;
    background-color: #817665;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    display: block;
}

li {
    color: #FFFFFF;
    text-decoration: none;
    background: #817665;
    padding: 15px;
    position: relative;
    display: block;
}

li:hover {
    background: #727272;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 14px;
    padding-top: 16px;
}

#main>li {
    float: left;
    margin: 1px;
}

ul li ul {
    visibility: hidden;
    position: absolute;
    margin-top: 15px;
    width: 100%;
    left: 0;
}

ul li ul li {
    width: 100%;
}
ul li ul li ul {
    left: 100%;
    top: -15px;
}

ul li:hover>ul {
    visibility: visible;
}