body {
    background-color: #505050;
    min-width: 1890px;
    min-height: 910px;
}

header {
    width: 1430px;
    height: 118px;
    padding: 10px;
    background-color: #909090;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
    margin: 10px auto;
}

#day42 {
    height: 100%;
    float: left;
}

#loupe {
    float: right;
    margin-right: 0px;
}

header div {
    float: right;
    height: 100%;
}

.ctrl:first-child {
    margin-bottom: 78px;
}

.ctrl {
    display: block;
    width: 20px;
    height: 20px;
}

main {
    width: 1384px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

aside {
    padding: 10px;
    background-color: #909090;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
    float: left;
    width: 120px;
    height: 408px;
}

.left img {
    margin: 8px auto;
    display: block;
    height: 70px;
}

#look {
    border: 5px solid #F90000;
    border-radius: 5px;
}

.right img {
    margin: 8px auto;
    display: block;
    width: 70px;
}

#brick {
    background-image: url("resources/brick.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 70px;
}

section {
    float: left;
    margin: 0 30px;
    padding: 10px;
    background-color: #909090;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
}

#cluster {
    height: 576px;
    width: 1024px;
}

#input_form {
    z-index: 10;
    clear: both;
    position: absolute;
    width: 510px;
    height: 165px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
    background-color: #80FF90;
    margin-left: 190px;
    margin-top: 675px;
    font-family: sans-serif;
    letter-spacing: 0.65px;
    font-size: 17px;
    padding: 5px 8px;
}

#input_form p {
    display: inline;
}

#entrez {
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: lighter;
}

#ordinateurs {
    font-family: sans-serif;
    letter-spacing: 0.65px;
    font-size: 17px;
    text-align: left;
    text-shadow: 5px 5px 5px red;
}

#input_form input[type="text"] {
    width: 380px;
    height: 14px;
    margin-left: 2px;
    margin-top: 3px;
    box-shadow: inset 0.4px 0.4px 0.4px #9A9A9A;
}

#input_form input[type="submit"] {
    font-size: 13px;
    letter-spacing: 0.25px;
    text-align: center;
    padding: 1px 2px;
}